<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpTwo" version="0.0.1.19" targetFramework="net462" />
  <package id="jose-jwt" version="2.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
</packages>